body {
    margin: 0;
    height: 100vh;
    background: url("/assets/inicio.webp") no-repeat center/cover;
    font-family: 'Josefin Slab', serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.start-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 30px; 
}

h1 {
    color: rgb(79, 14, 14);
    margin: 10px; 
    font-size: 8rem;
    text-shadow: 8px 4px 6px #000;
    border-radius: 10px;
}

.title-1 {
    margin-left: 125px;
    gap: 20px;
}

.start-button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    background: rgb(79, 14, 14);
    border: 1px solid #000000;
    text-shadow: 8px 4px 6px #000;
    cursor: pointer;
    transition: all 0.1s;
    text-transform: uppercase;
}

#intro-video {
    position: fixed; 
    inset: 0; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#intro-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

#game-content {
    position: relative;
    z-index: 2;
}
 
/* Botón de Control de Audio */
.audio-control-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.5em;
    z-index: 1000;
    border-radius: 5px;
    transition: background 0.3s;
}

.audio-control-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

/* ESTILOS DE REGLAS */

#rulesScreen {
    background: url("/assets/tvantigua.png") no-repeat center/cover;
    opacity: 1; 
    position: relative; 
}

#rulesScreen #tvContent {
    position: absolute;
    top: 45%;
    left: 40%; 
    transform: translate(-50%, -50%); 
    width: 850px;  
    height: 350px; 
}

#rulesScreen .start-center {
    width: 100%;
    height: 100%;
    position: static; 
    transform: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

#rulesScreen .start-center h1 {
    font-size: 4rem; 
    font-weight: bold;
    margin: 0;
    color: #030303;
    text-shadow:
        0 0 20px #fff,
        0 0 100px #00eaff;
    animation: glowPulse 1s infinite ease-in-out;
}

#rulesScreen .start-center p {
    color: #030303;
    margin: 10px; 
    font-size: 2.5rem; 
    text-align: center;
    text-shadow:
        0 0 10px #fff,
        0 0 100px #00eaff;
    animation: glowPulse 1s infinite ease-in-out;
    padding: 10px; 
}