body {
    margin: 0;
    height: 100vh;
    background: url("./assets/inicio.webp") no-repeat center/cover;
    font-family: 'Josefin Slab', serif;
}

/* Contenedor general */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* CENTRAR PERFECTAMENTE */
.start-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column; /* Para que el título quede encima del botón */
    justify-content: center;
    align-items: center;
    gap: 30px; /* separación entre título y botón */
}

h1 {
    color: rgb(79, 14, 14);
    margin: 10px; 
    font-size: 8rem;
    text-shadow: 8px 4px 6px #000;
    border-radius: 10px;
}

.title-1 {
    margin-left: 125px;
    gap: 20px;
}

.start-button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    background: rgb(79, 14, 14);
    border: 1px solid #000000;
    text-shadow: 8px 4px 6px #000;
    cursor: pointer;
    transition: all 0.1s;
    text-transform: uppercase;
}
